:root {
  --pale-lilac: #fcfcff;
  --perrywinkle: #86a4eb;
  --midnight-blue: #000046;
  --pinky: #fb87a1;
  --pale: #ffe3d1;
  --blush: #f68383;
  --pale-blue: #d3fcfd;
  --white: #ffffff;
  --very-light-blue: #edf3ff;
  --light-periwinkle: #d7e3fd;
  --dark-slate-blue: #22225f;
  --light-pink: #ffdadc;
}
@font-face {
  font-family: Quicksand;
  src: url("fonts/Quicksand_Book.otf");
  }
.App {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Quicksand;
  font-size:14px;
  width: 360px;
  height: 616px;
  text-align: center;
  background-color: var(--pale-lilac);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.08);
  margin:0 auto;
  display:flex;
  flex-direction: column;
  .loading{
    height: 100%;
  }
}
button{
  display: inline-block;
  font-family: Quicksand;
  padding:7px 14px;
  align-self: center;
  border-radius: 24px;
  border:none;
  background-image: linear-gradient(to right, var(--pale), var(--light-pink));
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Tasks, .Task, .SpeedHelp, .Advises{
  
  background-image: url("/static/svg/no-home-background.svg");
  background-repeat: no-repeat;
  background-size:100% 60%;
  background-position-y: 100%;
}
::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--perrywinkle);
}
::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background: var(--perrywinkle);
  border:0;
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}