.App .auth{
  position:absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image:url("./loading.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.auth > div{
  background: var(--white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.08);
  padding:20px;
  .field{
    width: 100%;
    input{
      width: 100%;
      border:1px solid rgba(0,0,0,.2);
      padding:5px;
      box-sizing: border-box;
      border-radius: 3px;
      background-color: var(--white) !important;
    }
    label,input{
      margin:5px 0 20px;
    }
  }
  button,a{
    margin:5px;
  }
}